@white: #FFFFFF;
@green: #9EC03B;
@orange: #F48744;
@blue: #189ECA;
@gray: #777574;
@lightGray: #ECECEC;
@black: #1C1C1C;
@darkBlue: #106E8D;
@darkGray: #4A4A4A;
@red: #D16565;

html { -webkit-font-smoothing: antialiased; }

body{
  background-image: url("/img/dimension.png");
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding-top: 60px;
  padding-bottom: 40px;
  padding-right:20px;
  padding-left:20px;
}

html, body{
  height: 100%;
}

a {
  cursor: pointer;
}

.logo{
  width:120px;
  margin-bottom:5px;
}

.logo-container{
  padding-top:0px;
}

.main-content{
  margin-top:10px;
  height: 95%;
}

.login-button{
  margin-right:10%;
}

.left-panel{
  width:15%;
  height:100%;
  min-height:500px;
  float:left;
  .footer{
    position:absolute;
    bottom:10px;
  }
}

.right-panel{
  width:85%;
  float:right;
}

.search-row{
  float:right;
}

.jumbotron{
  text-align: center;
}

.jumbotron h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray;
}

.alert {
  position: absolute;
}

.fb-login-button{
  margin-top:15px;
  float:right;
}

td {
  text-align: center;
}

#genreContainer, #years {
  select {
    width:100%;
  }
}

.movie-table-container{
  overflow:auto;
  height:100%;
  position:absolute;
  overflow-x:hidden;
  margin-left:20px;
}

.movies-loading-placeholder{
  background-color: rgb(0,0,0,0) !important;
  float:none;
  width:100%;
  text-align:center;
  span{
    margin-top:50px !important;
  }
}

.movie-ad{
  background-color: rgb(0,0,0,0) !important;
  float:none;
  width:100%;
}

.table-no-border>thead>tr>th,
.table-no-border>tbody>tr>th,
.table-no-border>tfoot>tr>th,
.table-no-border>thead>tr>td,
.table-no-border>tbody>tr>td,
.table-no-border>tfoot>tr>td {
  border-top: none;
}

.movie-container {
  background-color: #BEBEBE;
  height:257px;
  width: 160px;
  margin:10px;
  border-radius: 4px;
  padding:0;
  float:left;
  text-align:center;
  position:relative;

  -webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);

  img{
    width:100px;
    margin-top:5px;
  }
}

.movie-title-container{
  /* background-color: #DDDDDD; */
  color: #000000;
  height: 160px;
  padding: 5px;
  display:block;
  margin-bottom:10px;
  vertical-align:middle;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor:pointer;
  h5{
    font-weight:bold;
  }
}

.rating-container{
  padding:0px;
  position:relative;
  top:60px;
  height:20px;
  background: #ff6666; /* Old browsers */
  background: -moz-linear-gradient(left,  #ff6666 0%, #8ced80 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff6666), color-stop(100%,#8ced80)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #ff6666 0%,#8ced80 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #ff6666 0%,#8ced80 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #ff6666 0%,#8ced80 100%); /* IE10+ */
  background: linear-gradient(to right,  #ff6666 0%,#8ced80 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6666', endColorstr='#8ced80',GradientType=1 ); /* IE6-9 */
}

.star-rating-container{
  padding-left:12px;
  position:relative;
  top:60px;
  height:40px;
}

.star-rating{
  height:100%;
  clear:none;
  float:left;
  line-height:2em;
  position:relative;
}

.golden{
  color:#F3DA20;
}

.detail-image-container{
  text-align:center;
}

.movie-details{
  img {
    max-height:340px;
  }
  p {
    text-indent:20px;
  }
  ul {
    list-style-type: none;
    li {
      line-height:2em;
    }
  }
}

.panel-group select{
  height:110px;
}

.cast-container{
  width:100%;

  .cast-member-container {
    background-color: #BEBEBE;
    height:200px;
    width:150px;
    margin:10px;
    border-radius: 4px;
    padding:0;
    padding-top:5px;
    float:left;
    text-align:center;
    position:relative;
    line-height:1.5em;
    font-weight:600;

    -webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);

    img{
      height:100px;
      margin-top: 5px;
      margin-bottom: 15px;
    }

    .character-container {
      font-style:italic;
      font-weight:normal;
      line-height:1.2em;
    }
  }
}

.pointer{
  cursor: pointer;
}

#addToListModal{
  .modal-header{
    text-align:center;
  }
  ul {
    list-style: none;
    padding-left:0;
    li{
      margin-bottom:5px;
      button{
        width:258px;
        text-align:left;
        .list-length{
          float:right;
        }
      }
    }
  }
}

.add-to-list-button {
  right:5px;
  top:-7px;
  height:15px;
  width:15px;
  float:right;
  position:absolute;
  display:block;
  clear:none;
}

.profile-image-a{
  padding-top:6px !important;
  padding-bottom:5px !important;
}

.profile-image{
  height:40px;
}

.profile-image-large{
}

#showMovieListMenu{
  background-color: #222222;
  color: #999;
  padding: 15px 15px;
  border-radius: 0;
  background-color: transparent;
}

#showMovieListMenu:hover{
  color: #ffffff;
}

.sectionNav{
  ul {
    list-style: none;
    padding-left:0;
    li{
      margin-bottom:5px;
      a{
        width:200px;
        text-align:left;
        .list-length{
          float:right;
        }
      }
    }
  }
}

.movie-list-header{
  height:40px;
  margin-bottom:20px;
  .movie-list-title{
    font-size:2em;
    font-weight:bold;
  }
  .sm-links{
    span{
      margin-left:10px;
      margin-top:10px;
    }
  }
}

.list-movie-row, .person-container{
  background-color: #BEBEBE;
  border-radius: 4px;

  -webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
  margin-bottom: 15px;
  line-height: 2em;
  margin-left: 20px;
  margin-right: 130px;
  padding-top: 10px;
  padding-bottom: 10px;

  h4{
    font-weight:bold;
  }

  .amazon-list-item-button{
    position:absolute;
    top:60px;
    left:-10px;
    width:80px;
  }
}

.person-container{
  margin-left: 40px;
  margin-right:40px;
}

.delete-list-item-button{
  position:absolute;
  top:-5px;
  right:10px;

  :hover{
    color:rgb(190, 99, 99);
  }
}

.list-movie-image{
  height:80px;
}

.amazon-button-small{
  margin-left:20px;
  width:150px;
}
