@white: #FFFFFF;
@green: #9EC03B;
@orange: #F48744;
@blue: #189ECA;
@gray: #777574;
@lightGray: #ECECEC;
@black: #1C1C1C;
@darkBlue: #106E8D;
@darkGray: #4A4A4A;
@red: #D16565;
@cardBackground: rgba(180,180,180,.5);
@orangeRed: rgba(221, 170, 7, 0.7);
@orangeRedSolid: rgba(221, 170, 7, 1);

html { -webkit-font-smoothing: antialiased; }

textarea{
  color:#000;
}

body{
  background-image: url("/img/wild_oliva.png");
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color:#fff;
  overflow-y:hidden;
  overflow-x:hidden;
}

.fb-frame{
  clear:none;
  margin-top:15px;
  border:none;
  width:120px;
  height:25px;
}

.share-list-fb-frame{
  float: left;
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 14px;
}

/*
html, body{
  height: 100%;
}

*/

a {
  cursor: pointer;
}

.logo{
  /* width:140px; */
  margin-right:10px;
}

.logo-container{
  /* transition: background-color 0.3s ease; */
  /* background-color:rgba(255,255,255,.2) !important; */
  text-align:center;
  width:150px;
  padding-top:0px;
  /* background-color:#000; */
}


.main-content{
  padding-left:0;
  padding-right:0;
}


.login-button{
  margin-right:10%;
  background-color:#3B5998 !important;
  color:#fff !important;
}

.login-button.btn:hover{
  background-color:#3B5998 !important;
  color:#fff !important;
}

.main-panel{
  text-align:center;
  padding-right:0;
  padding-left:0;
  margin-right:0;
}

.jumbotron{
  text-align: center;
}

.jumbotron h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray;
}

.alert {
  position: absolute;
}

.fb-login-button{
  margin-top:15px;
  float:right;
}

td {
  text-align: center;
}

#genreContainer, #years {
  select {
    width:100%;
  }
}

.movie-table-container, .people-container, .movie-list-container{
  width:100%;
  overflow-y:auto;
  padding-left:40px;
  margin-bottom:0;
  overflow-x:hidden;
}

.movies-loading-placeholder{
  background-color: transparent !important;
  background-color: rgb(0,0,0,0) !important;
  border-color: transparent !important;
  color:#fff;
  /* width:100%; */
  text-align:center;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  span{
    color:#fff;
    margin-top:85px !important;
  }
}

.table-no-border>thead>tr>th,
.table-no-border>tbody>tr>th,
.table-no-border>tfoot>tr>th,
.table-no-border>thead>tr>td,
.table-no-border>tbody>tr>td,
.table-no-border>tfoot>tr>td {
  border-top: none;
}

#movie_details_modal{
  .average-rating-container{
    float:left;
    max-width:90px;
    position:relative;
    top:0px;
    text-align:left;
  }
  .star-rating-container{
    position:relative;
    top:0px;
    height:30px;
  }
}

.filmsie-btn{
  margin-bottom: 15px;
}

.rating-container{
  width:140px;
}

.btn, .list-group-item{
  background-color: @orangeRed;
  transition: background-color 0.1s ease;
  color: #000;
  text-shadow: none;
  font-weight: bold;
  /* border:solid 2px rgb(180,180,180); */
  border:none;
  border-radius:4px;
}

.btn:hover, .list-group-item:hover{
  background-color: rgba(221, 170, 7, 1) !important;
  /* color:white; */
}

.btn.active{
    background-color: rgba(221, 170, 7, .5) !important;
    box-shadow:none;
    color:rgba(0,0,0,.4);
}

.btn.active:hover{
  background-color: rgba(221, 170, 7, .5) !important;
  cursor:default;
}


.movie-container, .favorite-movie-container {
  background-color: @cardBackground;
  border:solid 2px rgb(180,180,180);
  color:#000;
  height:260px;
  width: 200px;
  margin:5px;
  border-radius: 4px;
  padding:0;
  float:left;
  text-align:center;
  position:relative;

  -webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);

  .image-container{
    // width:110px;
    // height:150px;
    // text-align:center;
    // position: absolute;
    // left: 25px;
    // bottom: 50px;
    // vertical-align:middle;
    height:158px;
    img{
      position:relative;
      max-width: 110px;
      max-height: 150px;
      margin-top: 5px;

    }
  }
}

.favorite-movie-container{
  height:300px;
}

.movie-title-container{
  /* background-color: #DDDDDD; */
  color: #000000;
  height:3.2em;
  padding:5px;
  cursor:pointer;
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  /* white-space: nowrap; */
  overflow: hidden;
  h5{
    font-weight:bold;
  }
}

.star-rating-container, .average-rating-container {
/*  width:100%;
  position:relative;
  top:165px;
  height:40px;
  text-align:center; */
  margin-left:27px;
}

.average-rating-container{
  height:20px;
  margin-left:0px;
}

.star-rating{
  height:100%;
  clear:none;
  float:left;
  line-height:2em;
  position:relative;
}

.golden{
  /* color:#F3DA20; */
  color: rgba(221, 170, 7, 1);
}

.detail-image-container{
  text-align:center;
}

.movie-details{
  line-height:30px;
  text-align:left;
  .star-rating-container{
    margin-left:0;
  }
  img {
    max-height:340px;
    max-width:100%;
  }
  p {
    text-indent:20px;
  }
  .details-label{
    text-align:right;
    line-height:30px;
  }
}

/*

@media only screen
and (min-device-width : 320px)
and (max-device-width : 999px) {
 .movie-table-header{
   display:none;
 }
 .mobile-ad-container{
   display:block;
 }
}

*/

.panel-group select{
  height:110px;
}

.cast-container{
  width:100%;
  background-color:transparent;

  .cast-member-container {
    background-color: @cardBackground;
    color:#000;
    height:200px;
    width:150px;
    margin:10px;
    border-radius: 4px;
    padding:0;
    padding-top:5px;
    float:left;
    text-align:center;
    position:relative;
    line-height:1.5em;
    font-weight:600;

    -webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);

    img{
      height:100px;
      margin-top: 5px;
      margin-bottom: 15px;
    }

    .character-container {
      font-style:italic;
      font-weight:normal;
      line-height:1.2em;
    }
  }
}

.pointer{
  cursor: pointer;
}

#addToListModal{
  color: #000;
  .modal-header{
    text-align:center;
  }
  .btn{
    border:1px solid rgb(221, 170, 7);
    border-color: rgba(221, 170, 7, .7);
  }
}

.add-to-list-button-container {
  left:4px;
  top:115px;
  height:30px;
  width:30px;
  position:absolute;
  display:block;
  clear:none;
  cursor:pointer;

  :hover{
    color: #ffffff;
  }
}

.show-reviews-button-container{
  right:7px;
  top:115px;
  height:30px;
  width:30px;
  position:absolute;
  cursor:pointer;
  :hover{
    color: #ffffff;
  }
  .review-count{
    margin-top: -0.2em;
    margin-left: -0.3em;
    font-size: 8px;
  }
}

.profile-image-a{
  padding-top:6px !important;
  padding-bottom:5px !important;
}

.profile-image{
  height:40px;
}

.profile-image-large{
}

#showMovieListMenu{
  background-color: #222222;
  color: #999;
  padding: 15px 15px;
  border-radius: 0;
  background-color: transparent;
}

#showMovieListMenu:hover{
  color: #ffffff;
}

.menu-panel{
  z-index:9997;
  position:absolute;
  height:100%;
  width:280px;
  left:0px;
  overflow-y:auto;
  overflow-x:hidden;
  display:block;
  background-color:rgba(0,0,0, .8);
  padding-top:0;

  float:left;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}

footer{
  position:relative;
  padding-bottom:15px;
  text-align:left;
  padding-left:40px;
}

.to-left{
  position:absolute;
  left:-240px;
  overflow:hidden;
  background-color:rgba(0,0,0,.1);
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}

.section-nav{
  margin-top:25px;
  overflow-y:auto;
  overflow-x:hidden;
  ul {
    list-style: none;
    padding-left:0;
    li{
      margin-bottom:5px;
      a{
        width:200px;
        text-align:left;
        white-space:normal;
        .list-length{
          float:right;
        }
      }
    }
  }
}

.mobile-ad-container{
  display:none;
  width:100%;
  text-align:center;
  position:fixed;
  bottom:0px;
  z-index:9998;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 999px) {
 .movie-table-header{
   display:none;
 }
 .mobile-ad-container{
   display:block;
 }
}

.left-menu-button{
  z-index:9997;
  position:absolute;
  padding-top:50%;
  padding-bottom:50%;
  line-height:100%;
  vertical-align:middle;
  right:0px;
  height:100%;
  width:40px;
  padding-left:2px;
  color:@cardBackground;
  background-color: rgba(0,0,0, .3);
  span{
    line-height:40px;
    vertical-align:middle;
  }
}

.left-menu-button:hover{
  color: #fff;
  cursor: pointer;
}

.list-movie-row, .list-review-row{
  text-align:left;
  background-color: @cardBackground;
  border: 2px solid rgb(180,180,180);
  border-radius: 4px;
  color:#000;
  -webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
  margin-bottom: 15px;
  line-height: 2em;
  /* margin-left: 20px;
  margin-right: 130px; */
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left:auto;
  margin-right:auto;

  h4{
    font-weight:bold;
  }

  .amazon-list-item-button{
    position:absolute;
    top:30px;
    right:130px;
    width:80px;
  }
}

.list-movie-row{
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
}

.person-menu-item{
  background-color:#222;
  font-weight:bold;
  cursor:pointer;
  padding:0;
  text-align:center;
  :hover{
    background-color:#444;
  }

  img{
    float:left;
    max-height:30px;
    max-width:30px;
    margin:2px;
    z-index:2;
  }
  .pic-name-row{
    overflow:hidden;
    white-space:nowrap;
    font-size:smaller;
    height:34px;
    padding:0;
    margin:0;
  }
  .list-person-name{
    padding-left:4px;
  }
  .col-xs-2, .col-xs-10{
    padding:0;
  }
}

.match-menu-progress{
  margin-left:4px;
  margin-top:10px;
  width:160px;
  height:4px;
  margin-bottom:5px;
}

.delete-list-item-button{
  position:absolute;
  top:-5px;
  right:10px;
  color:rgb(190, 99, 99);

  :hover{
    color:rgb(255, 99, 99);
  }
}

.delete-list-button{
  margin-top:9px;
  color:rgb(190, 99, 99);
  :hover{
    color:rgb(255, 99, 99);
  }
}

.list-movie-image, .list-person-image{
  height:80px;
}

.amazon-button-small{
  position:absolute;
  top:172px;
  right:7px;
  width:30px;
  img{
    width:30px;
    height:30px;
  }
}


.c_score-container{
  margin-top:20px;
  font-weight:bold;
  font-size:1.5em;
}

.review-text{
  font-style:italic;
}

.review-vote {
  cursor: pointer;
  margin-left:5px;
  :hover{
    color: #ffffff;
  }
}
.modal{
  z-index:9999;
}
#reviewsModal{
  color: #000;

  textarea {
    width: 100%;
    height: 5em;
    color: #000;
    font-style:italic;
  }
  ul{
    margin-left:-50px;
  }

  li {
    list-style:none;
  }

  .list-review-row{
    textarea{
      color:#000;
      font-style:italic;
    }
  }

  .reviewer-image-container{
    text-align:center;
    img {
      max-width: 100px;
      max-height: 70px;
    }
  }

  .reviewer-name-container{
    text-align: center;
    font-weight: bold;
  }

  .reviewer-rating-container{
    height:38px;
    font-weight:bold;
    .rating-star-container{
      float:left;
      clear:none;
      margin-left:5px;
    }
  }

  .movie-review-container{
    font-style:italic;
    line-height:1.5em;
  }

  .review-score{
    font-size:11px;
    line-height:2.5em;
    text-align:center;
  }

  .sign-in-message-container{
    width:100%;
    text-align:center;
    margin-bottom:20px;
  }

  .created-date{
    font-size:12px;
    font-style:none;
    font-weight:bold;
    height:38px;
  }
}

.expand-panel{
  padding-top:0;
  padding-bottom:0;
  margin-left:70px;
  margin-top:16px;
  border-top-left-radius:0;
  border-top-right-radius:0;
  width:200px;
  border-color: rgb(221, 170, 7);
  border-color: rgba(221, 170, 7, .7);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  border-top:none;
}

.navbar{
  margin-bottom:0;
}

.navbar-btn{
  width:100%;
}

#searchOptions, #peopleMatches, #peopleFriends {
  color:#fff;
  background-color:#333;
  width:100%;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  .clear-button-container{
    padding-bottom:15px;
    text-align:center;
  }
  select{
    color:#000;
    width:100%;
  }
  .panel-heading{
    background-color:#333;
    color:#fff;
    text-align:center;
  }
  .panel-title{
    font-weight:bold;
  }
  .do-search-btn{
    border: solid 1px rgb(221, 170, 7);
    border: solid 1px rgba(221, 170, 7, .7);
    /* border-bottom: solid 2px rgb(221, 170, 7);
    border-bottom: solid 2px rgba(221, 180, 7, .7); */
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  }
}

#peopleMatches a:link,
#peopleMatches a:visited,
#peopleMatches a:hover,
#peopleMatches a:active  {
  text-decoration: none !important;
  color: #fff;
}

#peopleFriends a:link,
#peopleFriends a:visited,
#peopleFriends a:hover,
#peopleFriends a:active  {
  text-decoration: none !important;
  color: #fff;
}

.movie-table-header{
  padding-left:0;
  padding-right:0;
  margin-left:40px;
  margin-right:0px;
  width:100%;
  background-color: rgba(0,0,0,.3);

  .search-title-container{
    padding-left:0;
    line-height: 40px;
    height:45px;
  }

  .movie-list-label{
    font-size:1.6em;
    line-height:45px;
    text-align:right;
    font-weight:bold;
  }

  .movie-count{
    margin-top:3px;
    text-align:left;
    font-size:18px;
  }

  .sm-links{
    span{
      margin-left:10px;
      margin-top:10px;
    }
  }
}

.clear-rating-button{
  float:left;
  margin-left:10px;
  line-height:25px;
  cursor:pointer;
  :hover{
    color: #fff;
  }
}

.social-button{
  cursor: pointer;
  float:left;
  /* margin-left:20px; */
  :hover{
    color:#999;
  }
}

.facebook-button{
  color: #3B5998;
}

.twitter-button{
  color:#4099FF;
}

.reddit-button{
  color:##cee3f8;
}

.delete-review-button{
  position:absolute;
  right:15px;
  a{
    color:@orangeRedSolid;
  }
}

#feedbackModal{
  color: #000;
  textarea {
    width:100%;
    height:5em;
  }
  .feedback-type-container{
    margin-top:20px;
    height:40px;
    line-height:2em;
    div{
      float:left;
      margin-left:.5em;
    }
    .feedback-type-value{
      float:left;
      font-weight:bold;
    }
  }
}

.search-btn{
  z-index:2;
  margin-bottom:0px !important;
}

.search-row, .friends-row, .matches-row{
  position: relative;
  top: -17px;
}

#peopleMatches, #peopleFriends{
  .panel-body{
    padding:0;
  }
}


.hide-behind{
  z-index:-1;
  .expand-panel{
    border:none;
  }
}

.btn, .list-group-item{
  .badge{
    color:rgb(180,180,180);
    background-color:#000;
    float:right;
    margin-top:2px;
  }
}

.list-group-item{
  margin-bottom:15px;
}

.movie-list-title{
  .badge{
    vertical-align:middle;
    font-size:large;
    margin-left:10px;
    color: #fff;
    background-color: #333;
  }
}


#userProfileModal{
  color: #000;
}

.modal-header{
  background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
  background-repeat: repeat-x;
  color:#fff;
  h4{
    font-weight:bold;
  }
}

.modal-body{
  background-color:#555;
  background-image: url("/img/wild_oliva.png");
  color:#fff;
}

.person-profile-container{
  /* text-align:left; */
  margin-top:40px;
  .too-few{
    margin-bottom:40px;
    margin-top:40px;
  }
  .match-progress{
    position:relative;
    height:30px;
    font-size:12px;
    font-weight:bold;
    margin-left:auto;
    margin-right:auto;
    max-width:600px;
    margin-top:40px;
    margin-bottom:40px;
    span{
      line-height:30px;
    }
  }

  .person-face-name{
    text-align:right;
  }
  .person-details{
    list-style:none;
    padding-left:18px;
    line-height:1.1em;
    font-weight:bold;
    float:left;
    text-align:left;
    background-color:rgba(0,0,0,.3);
    padding:10px;
  }
  .person-profile-name{
    margin-bottom:40px;
    h3{
      font-weight:bold;
    }
  }
}

.match-score-tooltip{
  float:right;
}

.negative-progress{
  background-color:#f00;
  background-image: linear-gradient(to bottom,#FF0000 0,#C00000 100%)
}

.person-activity-row{
  .person-activity-container{
    .tab-content{
      margin-top:20px;
    }
  }

}

.nav-tabs, .nav-justified{
  font-weight:bold;
  border-bottom-color:@orangeRedSolid;
  border-bottom-color:@orangeRed;
  li a{
    /* border-bottom-color:@orangeRedSolid !important;
    border-bottom-color:@orangeRed !important; */
    border-bottom-color:#000 !important;
  }
  li a{
    color:#fff;
  }
  li .active a{
    color:#000;
    background-color:@orangeRedSolid !important;
    border-color:@orangeRedSolid !important;
  }
  li:hover a{
    color:#fff;
    background-color:@orangeRed;
    border-color:@orangeRedSolid;
    border-color:@orangeRed;
  }
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
  color:#000;
  background-color:@orangeRedSolid !important;
  /* border-color:@orangeRedSolid !important; */
  border-color:@orangeRedSolid !important;
  border-color:@orangeRed !important;
  border-bottom-color:#000 !important;
}

#favorites, #least_favorites, #reviews{
  .add-to-list-button-container, .show-reviews-button-container{
    width:30px;
    height:30px;
  }
  .add-to-list-button-container{
    /* top:55px; */
  }

  .show-reviews-button-container{
    /* left:0px;
    top:0px; */
  }
}

.modal-header{
  .close{
    color:#fff;
  }
}

.person-review-movie-title{
  position:relative;
  bottom:0px;
  font-weight:bold;
  line-height:1.3em;
}

.created-date{
  font-size:small;
  font-weight:bold;
}

.lists-nav{
  margin-top:65px !important;
  .btn{
    margin-bottom:10px;
  }
}
