<footer class="pull-left">
  <hr>
  powered by the <a href="http://www.themoviedb.org" target="_blank">TMDb</a> API
  <br/>
  <div>&copy; Zeele Inc., 2014</div>
  <br/>
  <a data-bind="click: function(){ $('#privacyModal').modal(); }">Privacy Policy</a>
</footer>
