<style>
html { -webkit-font-smoothing: antialiased; }
  body {
    background-color: #5C5740;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  td {
    text-align: center;
  }
  .movie-container {
    background-color: #353225;
    height:400px;
    width: 250px;
    margin:5px;
    /* border: 2px solid #000000; */
  }
  .movie-container img{
    height:250px;
    width:155px;
    margin-top:16px;
  }
  .movie-title-container{
    background-color: #FFF8DB;
    color: #000000;
    height:154px;
    padding: 5px;
    display:block;
    margin-bottom:10px;
    vertical-align:middle;
  }

</style>
<div class="container">
<table>
  <% _.each(items, function(item, i) {
      if (i % 4 == 0) {
        if (i != 0) { %>
        </tr>
        <% } %>
        <tr>
      <% } %>
    <td>
      <div class="movie-container">
        <div class="movie-title-container">
          <h4><%= item.title %></h4>
          <img src='<%= item.posters.original %>'/>
        </div>
    </div>
    </td>
    <% }) %>
  </tr>
</table>
</div>
