<div class="fluid-container main-content">
  <div class="left-panel">
    <!-- ko if: showingMovies -->
    <div class="row">
      <div class="col-sm-12 navbar-btn navbar-left">
        <div class="input-group">
          <input type="text" data-bind="value: searchQuery, valueUpdate: 'afterkeydown', event: {keypress: searchOnEnter }" placeholder="search by title" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" data-bind="click: search" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
    </div>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            year
        </h4>
      </div>
      <div id="years" class="panel">
        <div class="panel-body">
          <select multiple="false" data-bind="options: years, value: selectedYear, optionsCaption: 'any year'"></select>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            genre
        </h4>
      </div>
      <div id="genreContainer" class="panel">
        <div class="panel-body">
          <select data-bind="options: genres, optionsText: 'name', selectedOptions: selectedGenres, optionsCaption: 'any genre'" multiple="true"></select>
        </div>
      </div>
    </div>
  </div>
  <!-- /ko -->

  <!-- ko if: showingLists -->
  <div id="movieListNav">
    <ul data-bind="foreach: movieLists">
      <li>
        <button class="btn btn-default" data-bind="html: nameAndLength, attr: {'list-id': id}, click: viewList"></button>
      </li>
    </ul>
  </div>
  <!-- /ko -->

  <!-- ko if: showingFriends -->
  <!-- /ko -->

  <footer class="pull-left">
    <hr>
    powered by the <a href="http://www.themoviedb.org">TMDb</a> API
    <br/>
    <div>&copy; Zeele Inc., 2014</div>
    <br/>
    <a data-bind="click: function(){ $('#privacyModal').modal(); }">Privacy Policy</a>
  </footer>
</div> <!-- left panel -->

  <div class="right-panel">
    <div class="movie-table-container" data-bind="visible: showingMovies, template: {name: 'movie-template', foreach: movies}, event: {scroll: scrolled}"></div>
    <div class="friend-list-container" data-bind="visible: showingFriends, template: {name: 'friend-template', foreach: friends}, event: {scroll: scrolledFriends}"></div>
    <div class="movie-list-content" data-bind="visible: showingLists, with: selectedList" >
      <div class="movie-list-header container" data-bind="visible: name()">
        <div class="row">
          <div class="col-sm-4">
            <span class="movie-list-title" data-bind="text: name() + ' (' + movies().length + ')'"></span>
          </div>
          <div class="col-sm-4">
            <h4>public: <input type="checkbox" data-bind="checked: isPublic" /></h4>
          </div>
          <div class="col-sm-4">
            <span class="fa fa-2x fa-facebook-square"></span>
            <span class="fa fa-2x fa-twitter-square"></span>
            <span class="fa fa-2x fa-reddit-square"></span>
          </div>
        </div>
      </div>
      <div class="movie-list-container" data-bind="template: {name: 'list-movie-template', foreach: movies}"></div>
    </div>
  </div>
</div>

<div id="movieDetailsModal" data-bind="with: movieDetails" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="movieDetailsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="movieDetailsLabel" data-bind="text: title"></h4>
      </div>
      <div class="modal-body movie-details">
        <!-- ko if: !loadingDetails() -->
        <div class="detail-image-container">
          <img data-bind="attr: {src: bigImageUrl}" />
        </div>
        <br/>
        <p data-bind="text: synopsis"></p>
        <ul>
          <li><span>Released <span data-bind="text: formattedReleaseDate"></span></span></li>
          <!-- ko if: currentUserRating -->
          <li><span>Your rating: <span data-bind="text: currentUserRating"></span></span></li>
          <!-- /ko -->
          <li><span data-bind="text: genresString"></li>
          <li><span data-bind="click: toggleCast, css: { 'fa-plus-square' : castHidden, 'fa-minus-square' : !castHidden() }" class="fa pointer"></span> Cast
          <!-- ko if: !castHidden() -->
            <div data-bind="template: { name: 'cast-member-template', foreach: castMembers }" class="container cast-container panel"><span class="fa fa-5x fa-spin fa-cog"></span></div>
          <!-- /ko -->
          </li>

        </ul>
        <a data-bind="attr: {href: amazonLink }" target="_blank"><img class="amazon-button-small" src="/img/amazon.jpeg" alt="find on amazon" /></a><br/><br/>
        <a data-bind="attr: {href: imdbUrl }" target="_blank">IMDB info</a>
        <!-- /ko -->
        <!-- ko if: loadingDetails() -->
        <div class="container" style="width:100%;text-align:center"><span class="fa fa-5x fa-spin fa-cog"></span></div>
        <!-- /ko -->
      </div>
    </div>
  </div>
</div>

<div id="addToListModal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="addToListLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="addToListLabel" class="modal-title" data-bind="html: addToListModalTitle">Add to list</h4>
      </div>
      <div class="modal-body">
        <ul data-bind="foreach: movieLists">
          <li><button class="btn btn-default" data-bind="attr: {'list-id': id}, html: nameAndLength, click: addToList"></li>
        </ul>
        <div class="input-group">
          <input type="text" data-bind="value: newListName" placeholder="new list" class="form-control" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" data-bind="click: addNewMovieList">add</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/html" id="movie-template">
  <div class="movie-container">
    <div class="movie-title-container" data-bind="click: showDetails">
      <h5 data-bind="text: title"></h5><div class="addToListButton" data-bind="click: showListPopover"><span class="glyphicon glyphicon-list"></span></div>
      <img data-bind="attr: {src: imageUrl}" />
    </div>
    <!--
    <div class="rating-container">
      <div class="rating-box" data-bind="css: ratingClass(1), click: function(){setRating(1)}">1</div>
      <div class="rating-box" data-bind="css: ratingClass(2), click: function(){setRating(2)}">2</div>
      <div class="rating-box" data-bind="css: ratingClass(3), click: function(){setRating(3)}">3</div>
      <div class="rating-box" data-bind="css: ratingClass(4), click: function(){setRating(4)}">4</div>
      <div class="rating-box" data-bind="css: ratingClass(5), click: function(){setRating(5)}">5</div>
      <div class="rating-box" data-bind="css: ratingClass(6), click: function(){setRating(6)}">6</div>
      <div class="rating-box" data-bind="css: ratingClass(7), click: function(){setRating(7)}">7</div>
      <div class="rating-box" data-bind="css: ratingClass(8), click: function(){setRating(8)}">8</div>
      <div class="rating-box" data-bind="css: ratingClass(9), click: function(){setRating(9)}">9</div>
      <div class="rating-box" data-bind="css: ratingClass(10), click: function(){setRating(10)}">10</div>
    </div>
    -->
    <div class="star-rating-container pointer" data-bind="event: {'mouseout': resetRatingClasses }">
      <div class="star-rating fa-stack" data-bind="event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(1, event)}">
        <span class="fa fa-stack-2x fa-star-o"></span>
        <span class="fa fa-stack-2x top-star-stack" star="1" data-bind="css: ratingClass(1)"></span>
      </div>
      <div class="star-rating fa-stack" data-bind="event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(2, event)}">
        <span class="fa fa-stack-2x fa-star-o"></span>
        <span class="fa fa-stack-2x top-star-stack" star="2" data-bind="css: ratingClass(2)"></span>
      </div>
      <div class="star-rating fa-stack" data-bind="event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(3, event)}">
        <span class="fa fa-stack-2x fa-star-o"></span>
        <span class="fa fa-stack-2x top-star-stack" star="3" data-bind="css: ratingClass(3)"></span>
      </div>
      <div class="star-rating fa-stack" data-bind="event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(4, event)}">
        <span class="fa fa-stack-2x fa-star-o"></span>
        <span class="fa fa-stack-2x top-star-stack" star="4" data-bind="css: ratingClass(4)"></span>
      </div>
      <div class="star-rating fa-stack" data-bind="event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(5, event)}">
        <span class="fa fa-stack-2x fa-star-o"></span>
        <span class="fa fa-stack-2x top-star-stack" star="5" data-bind="css: ratingClass(5)"></span>
      </div>
    </div>
</div>
</script>

<script type="text/html" id="friend-template">
  <div data-bind="text: name"></div>
</script>

<script type="text/html" id="list-movie-template">
  <div class="row list-movie-row">
    <div class="col-sm-1" data-bind="click: showDetails">
      <img class="list-movie-image" data-bind="attr: {src: imageUrl}" />
    </div>
    <div class="col-sm-3" data-bind="click: showDetails">
      <h4 data-bind="text: titleAndYear"></h4>
    </div>
    <div class="col-sm-4">your rating: <span data-bind="text: currentUserRating"></div>
    <div class="col-sm-4">links</div>
  </div>
</script>

<script type="text/html" id="cast-member-template">
  <div class="cast-member-container container">
    <span data-bind="text: name"></span><br/>
    <img data-bind="attr: {src: imageUrl}" /><br/>
  <div class="character-container" data-bind="text: character"></div>
</script>

<script type="text/javascript">
  $(function(){
    var vm = new MoviesViewModel();
    vm.user().id("<%= req.session.user ? session.user.id : '' %>");
    vm.user().profilePicUrl("<%= profile_pic_url %>");
    vm.init();
    ko.applyBindings(vm);
  });
</script>


<div id="privacyModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="privacyLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="privacyLabel">Privacy Policy</h4>
      </div>
      <div class="modal-body">
        <strong>What information do we collect?</strong><br />
        <br />
        We collect information from you when you register on our site.<br />
        <br />
        When ordering or registering on our site, as appropriate, you may be asked to enter
        your: name, e-mail address or Zeele Enterprises. You may, however, visit our site
        anonymously.<br />
        <br />
        Google, as a third party vendor, uses cookies to serve ads on your site. Google's use
        of the DART cookie enables it to serve ads to your users based on their visit to your
        sites and other sites on the Internet. Users may opt out of the use of the DART
        cookie by visiting the Google ad and content network privacy policy..<br />
        <br />
        <strong>What do we use your information for?</strong><br />
        <br />
        Any of the information we collect from you may be used in one of the following
        ways:<br />
        <br />
        ; To personalize your experience<br />
        (your information helps us to better respond to your individual needs)<br />
        <br />
        ; To improve our website<br />
        (we continually strive to improve our website offerings based on the information and
        feedback we receive from you)<br />
        <br />
        ; To process transactions<br />

        <blockquote>
          Your information, whether public or private, will not be sold, exchanged,
          transferred, or given to any other company for any reason whatsoever, without your
          consent, other than for the express purpose of delivering the purchased product or
          service requested.
        </blockquote><br />
        ; To administer a contest, promotion, survey or other site feature<br />
        <br />
        <br />
        ; To send periodic emails<br />

        <blockquote>
          The email address you provide for order processing, may be used to send you
          information and updates pertaining to your order, in addition to receiving
          occasional company news, updates, related product or service information, etc.
        </blockquote>Note: If at any time you would like to unsubscribe from receiving future
        emails, we include detailed unsubscribe instructions at the bottom of each
        email.<br />
        <br />
        <br />
        <br />
        <strong>How do we protect your information?</strong><br />
        <br />
        We implement a variety of security measures to maintain the safety of your personal
        information when you enter, submit, or access your personal information.<br />
        <br />
        We offer the use of a secure server. All supplied sensitive/credit information is
        transmitted via Secure Socket Layer (SSL) technology and then encrypted into our
        Payment gateway providers database only to be accessible by those authorized with
        special access rights to such systems, and are required to?keep the information
        confidential.<br />
        <br />
        After a transaction, your private information (credit cards, social security numbers,
        financials, etc.) will not be kept on file for more than 60 days.<br />
        <br />
        <strong>Do we use cookies?</strong><br />
        <br />
        Yes (Cookies are small files that a site or its service provider transfers to your
        computers hard drive through your Web browser (if you allow) that enables the sites
        or service providers systems to recognize your browser and capture and remember
        certain information<br />
        <br />
        We use cookies to understand and save your preferences for future visits and keep
        track of advertisements and .<br />
        <br />
        <strong>Do we disclose any information to outside parties?</strong><br />
        <br />
        We do not sell, trade, or otherwise transfer to outside parties your personally
        identifiable information. This does not include trusted third parties who assist us
        in operating our website, conducting our business, or servicing you, so long as those
        parties agree to keep this information confidential. We may also release your
        information when we believe release is appropriate to comply with the law, enforce
        our site policies, or protect ours or others rights, property, or safety. However,
        non-personally identifiable visitor information may be provided to other parties for
        marketing, advertising, or other uses.<br />
        <br />
        <strong>Third party links</strong><br />
        <br />
        Occasionally, at our discretion, we may include or offer third party products or
        services on our website. These third party sites have separate and independent
        privacy policies. We therefore have no responsibility or liability for the content
        and activities of these linked sites. Nonetheless, we seek to protect the integrity
        of our site and welcome any feedback about these sites.<br />
        <br />
        <strong>California Online Privacy Protection Act Compliance</strong><br />
        <br />
        Because we value your privacy we have taken the necessary precautions to be in
        compliance with the California Online Privacy Protection Act. We therefore will not
        distribute your personal information to outside parties without your consent.<br />
        <br />
        As part of the California Online Privacy Protection Act, all users of our site may
        make any changes to their information at anytime by logging into their control panel
        and going to the 'Edit Profile' page.<br />
        <br />
        <strong>Childrens Online Privacy Protection Act Compliance</strong><br />
        <br />
        We are in compliance with the requirements of COPPA (Childrens Online Privacy
        Protection Act), we do not collect any information from anyone under 13 years of age.
        Our website, products and services are all directed to people who are at least 13
        years old or older.<br />
        <br />
        <strong>Online Privacy Policy Only</strong><br />
        <br />
        This online privacy policy applies only to information collected through our website
        and not to information collected offline.<br />
        <br />
        <strong>Terms and Conditions</strong><br />
        <br />
        Please also visit our Terms and Conditions section establishing the use, disclaimers,
        and limitations of liability governing the use of our website at <a href=
        "http://www.filmsie.com">http://www.filmsie.com</a><br />
        <br />
        <strong>Your Consent</strong><br />
        <br />
        By using our site, you consent to our online privacy
        policy</a>.<br />
        <br />
        <strong>Changes to our Privacy Policy</strong><br />
        <br />
        If we decide to change our privacy policy, we will post those changes on this page,
        send an email notifying you of any changes, and/or update the Privacy Policy
        modification date below.<br />
        <br />
        This policy was last modified on 07/02/2014<br />
        <br />
        <strong>Contacting Us</strong><br />
        <br />
        If there are any questions regarding this privacy policy you may contact us using the
        information below.<br />
        <br />
        http://www.filmsie.com<br />
        58886 ELM RD<br />
        MISHAWAKA, INDIANA (IN) 46544<br />
        United States<br />
        support@filmsie.com<br />
      </div>
    </div>
  </div>
</div>
