<div class="fluid-container main-content">
  <div class="left-panel">
    <!-- ko if: is_showing_movies -->
    <div class="row">
      <div class="col-sm-12 navbar-btn navbar-left">
        <div class="input-group">
          <input type="text" data-bind="value: search_query, valueUpdate: 'afterkeydown', event: {keypress: searchOnEnter }" placeholder="search by title" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" data-bind="click: search" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
    </div>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            year
        </h4>
      </div>
      <div id="years" class="panel">
        <div class="panel-body">
          <select multiple="false" data-bind="options: years, value: selected_year, optionsCaption: 'any year'"></select>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            genre
        </h4>
      </div>
      <div id="genreContainer" class="panel">
        <div class="panel-body">
          <select data-bind="options: genres, optionsText: 'name', selectedOptions: selected_genres, optionsCaption: 'any genre'" multiple="true"></select>
        </div>
      </div>
    </div>
  </div>
  <!-- /ko -->

  <!-- ko if: is_showing_lists -->
  <div class="section-nav">
    <ul data-bind="foreach: movie_lists">
      <li>
        <a class="btn btn-default" data-bind="css: {'active': $parent.selected_list() && $parent.selected_list().id() == id() }, html: name_and_length(), attr: {'href': '#lists/' + id() }"></a>
      </li>
    </ul>
  </div>
  <!-- /ko -->

  <!-- ko if: is_showing_people -->
  <div class="section-nav" data-bind="with: user">
    <ul>
      <li><a class="btn btn-default" data-bind="css: {'active': is_showing_matches() }" href="#people/matches">My Matches</a></li>
      <li><a class="btn btn-default" data-bind="css: {'active': is_showing_friends() }" href="#people/friends">My friends</a></li>
      <li><a class="btn btn-default" href="#people/invite">Invite Friends</a></li>
    </ul>
  </div>
  <!-- /ko -->

  <footer class="pull-left">
    <hr>
    powered by the <a href="http://www.themoviedb.org">TMDb</a> API
    <br/>
    <div>&copy; Zeele Inc., 2014</div>
    <br/>
    <a data-bind="click: function(){ $('#privacyModal').modal(); }">Privacy Policy</a>
  </footer>
</div> <!-- left panel -->

  <div class="right-panel">
    <div class="movie-table-container" data-bind="visible: is_showing_movies, template: {name: 'movie-template', foreach: movies}, event: {scroll: scrolled}"></div>

    <div class="people-container" data-bind="with: user, visible: is_showing_people">
      <!-- ko if: is_showing_matches -->
      <div class="friend-list-container" data-bind="template: {name: 'list-friend-template', foreach: matches}"></div>
      <!-- /ko -->

      <!-- ko if: is_showing_friends -->
      <div class="friend-list-container" data-bind="template: {name: 'list-friend-template', foreach: friends}"></div>
      <!-- /ko -->
    </div>

    <div class="movie-list-content" data-bind="visible: is_showing_lists, with: selected_list" >
      <div class="movie-list-header container" data-bind="visible: id()">
        <div class="row" data-bind="visible: is_public() || is_owner()">
          <div class="col-sm-5">
            <span class="movie-list-title" data-bind="text: name() + ' (' + movies().length + ')'"></span>
          </div>
          <div class="col-sm-2">
            <!-- ko if: is_owner() -->
            <h4>public: <input type="checkbox" data-bind="checked: is_public" /></h4>
            <!-- /ko -->
          </div>
          <div class="col-sm-5 sm-links">
            <span class="fa fa-2x fa-facebook-square pointer" data-bind="click: $parent.shareOnFacebook"></span>
            <span class="fa fa-2x fa-twitter-square"></span>
            <span class="fa fa-2x fa-reddit-square"></span>
          </div>
        </div>
      </div>
      <!-- ko if: is_public() || is_owner() -->
      <div class="movie-list-container" data-bind="template: {name: 'list-movie-template', foreach: movies}"></div>
      <!-- /ko -->
      <div class="row" data-bind="visible: !is_public() && !is_owner() && name()">
        <div class="container col-sm-12">
          <div style="width:100%;text-align:center"><h3>This list is private.</h3></div>
        </div>
      </div>
      <div class="row" data-bind="visible: parent().movie_lists().length == 0">
        <div class="container col-sm-12">
          <div style="width:100%;text-align:center"><h3>You haven't created any lists yet.</h3></div>
        </div>
      </div>
    </div> <!-- movie-list-content -->
  </div> <!-- right panel -->
</div> <!-- main content -->

<div id="movie_details_modal" data-bind="with: movie_details" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="movie_details_label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="movie_details_label" data-bind="text: title"></h4>
      </div>
      <div class="modal-body movie-details">
        <!-- ko if: !is_loading_details() -->
        <div class="detail-image-container">
          <img data-bind="attr: {src: big_image_url}" />
        </div>
        <br/>
        <p data-bind="text: synopsis"></p>
        <ul>
          <li><span>Released <span data-bind="text: formatted_release_date"></span></span></li>
          <!-- ko if: current_user_rating -->
          <li><span>Your rating: <span data-bind="text: current_user_rating"></span></span></li>
          <!-- /ko -->
          <li><span data-bind="text: genresString"></li>
          <li><span data-bind="click: toggleCast, css: { 'fa-minus-square' : !cast_is_hidden() }" class="fa fa-plus-square pointer"></span> Cast
            <div class="container" style="width:100%;text-align:center">
              <div data-bind="template: { name: 'cast-member-template', foreach: cast_members }, visible: !cast_is_hidden()" class="container cast-container panel"></div>
            </div>
            <!-- ko if: is_loading_cast() -->
            <div class="container" style="width:100%;text-align:center"><span class="fa fa-3x fa-spin fa-cog"></span></div>
            <!-- /ko -->
          </li>

        </ul>
        <a data-bind="attr: {href: amazon_link }" target="_blank"><img class="amazon-button-small" src="/img/amazon.png" alt="find on amazon" /></a><br/><br/>
        <a data-bind="attr: {href: imdb_url }" target="_blank">IMDB info</a>
        <!-- /ko -->
        <!-- ko if: is_loading_details() -->
        <div class="container" style="width:100%;text-align:center"><span class="fa fa-5x fa-spin fa-cog"></span></div>
        <!-- /ko -->
      </div>
    </div>
  </div>
</div>

<div id="addToListModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="addToListLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="addToListLabel" class="modal-title" data-bind="html: addToListModalTitle">Add to list</h4>
      </div>
      <div class="modal-body">
        <ul data-bind="foreach: movie_lists">
          <li><button class="btn btn-default" data-bind="attr: {'list-id': id}, html: name() + '<div class=\'list-length\'> (' + movie_ids().length + ')</div>', click: addMovie"></li>
        </ul>
        <div class="input-group">
          <input type="text" data-bind="value: new_list_name" placeholder="new list" class="form-control" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" data-bind="click: add_new_movie_list">add</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="reviewsModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="reviewsModalLabel" aria-hidden="true" data-bind="with: selected_movie">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="reviewsModalLabel" class="modal-title" data-bind="text: reviewsModalTitle">Movie Reviews</h4>
      </div>
      <div class="modal-body">
        <!-- ko if: !current_user_has_reviewed() && parent().user().authenticated() -->
        <textarea data-bind="value: new_review_text" placeholder="write a review..."></textarea>
        <button class="btn btn-default" data-bind="click: saveReview">submit</button>
        <hr/>
        <!-- /ko  -->

        <!-- ko if: !parent().user().authenticated() -->
        <div class="sign-in-message-container"><h4><a href="#" data-bind="click: parent().user().login">Sign in</a> to post a review</h4></div>
        <!-- /ko -->

        <ul data-bind="foreach: reviews">
          <div class="row list-review-row">
            <div class="col-sm-2">
              <div class="reviewer-image-container"><img data-bind="attr: {src: reviewer_picture_url }" /></div>
              <div class="reviewer-name-container"><h5 data-bind="text: reviewer_name"></h5></div>
            </div>
            <div class="col-sm-9">
              <div class="reviewer-rating-container"><div style="float:left"><span data-bind="text: reviewer_name"></span>'s rating: </div>
                <div class="rating-star-container" data-bind="template: {name: 'average-rating-template'}"></div>
              </div>
              <div class="movie-review-container">
                "<span data-bind="html: content"></span>"
              </div>
            </div>
            <div class="col-sm-1">
              <div class="review-vote">
                <span class="fa fa-lg" data-bind="css: thumb_up_style, click: voteUp"></span>
              </div>
              <div class="fa fa-stack">
                <span class="fa fa-stack-2x fa-circle-thin"></span>
                <span class="fa fa-stack-1x review-score " data-bind="text: review_score"></span>
              </div>
              <div class="review-vote">
                <span class="fa fa-lg fa-flip-horizontal" data-bind="css: thumb_down_style, click: voteDown"></span>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="userProfileModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="userProfileLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" data-bind="with: user">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="userProfileLabel" class="modal-title" data-bind="html: name"></h4>
      </div>
      <div class="modal-body">
        <img class="profile-image-large" data-bind="attr: {'src': profile_pic_url }" />
      </div>
    </div>
  </div>
</div>

<div id="inviteFriendsModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="inviteFriends" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" data-bind="with: user">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="addToListLabel" class="modal-title" data-bind="html: name"></h4>
      </div>
      <div class="modal-body">
        <img class="profile-image-large" data-bind="attr: {'src': profile_pic_url }" />
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="movie-template">
  <div class="movie-container">
    <div class="movie-title-container" data-bind="click: showDetails">
      <h5 data-bind="text: title"></h5>
    </div>
    <div class="add-to-list-button-container" data-bind="click: showAddToListModal">
      <span class="fa fa-lg fa-list"></span>
    </div>
    <div class="show-reviews-button-container" data-bind="click: showReviewsModal">
      <span class="fa fa-stack">
        <span class="fa fa-stack-1x fa-lg fa-comments-o"></span>
        <strong class="fa fa-stack-1x review-count" data-bind="text: reviewCountText"></strong>
      </span>
    </div>
    <div class="image-container">
      <img class="pointer" data-bind="attr: {src: image_url}, click: showDetails" />
    </div>
    <div class="average-rating-container" data-bind="template: {name: 'average-rating-template'}"></div>
    <div class="star-rating-container" data-bind="template: {name: 'current-rating-template'}"></div>
  </div>
</script>

<script type="text/html" id="current-rating-template">
  <div class="pointer" data-bind="event: {'mouseout': resetRatingClasses }">
    <div class="star-rating fa-stack" data-bind="style: {opacity: temp_rating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(1, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="1" data-bind="css: ratingClass(1)"></span>
    </div>
    <div class="star-rating fa-stack" data-bind="style: {opacity: temp_rating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(2, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="2" data-bind="css: ratingClass(2)"></span>
    </div>
    <div class="star-rating fa-stack" data-bind="style: {opacity: temp_rating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(3, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="3" data-bind="css: ratingClass(3)"></span>
    </div>
    <div class="star-rating fa-stack" data-bind="style: {opacity: temp_rating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(4, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="4" data-bind="css: ratingClass(4)"></span>
    </div>
    <div class="star-rating fa-stack" data-bind="style: {opacity: temp_rating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(5, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="5" data-bind="css: ratingClass(5)"></span>
    </div>
  </div>
</script>

<script type="text/html" id="average-rating-template">
    <span class="fa" data-bind="css: average_star_css(2)"></span>
    <span class="fa" data-bind="css: average_star_css(4)"></span>
    <span class="fa" data-bind="css: average_star_css(6)"></span>
    <span class="fa" data-bind="css: average_star_css(8)"></span>
    <span class="fa" data-bind="css: average_star_css(10)"></span>
</script>

<script type="text/html" id="friend-template">
  <div data-bind="text: name"></div>
</script>

<script type="text/html" id="list-movie-template">
  <div class="row list-movie-row">
    <div class="col-sm-1 pointer" data-bind="click: showDetails">
      <img class="list-movie-image" data-bind="attr: {src: image_url}" />
    </div>
    <div class="col-sm-4 pointer">
      <h4 data-bind="click: showDetails, text: title_and_year"></h4>
      <a data-bind="attr: {href: amazon_link }" target="_blank">
        <img class="amazon-button-small amazon-list-item-button" src="/img/amazon.png" alt="find on amazon" />
      </a>
    </div>
    <div class="col-sm-3">your rating: <div data-bind="template: {name: 'current-rating-template'}"></div></div>
    <div class="col-sm-4" style="text-align:right">
      <div class="delete-list-item-button pointer" data-bind="click: $parent.removeMovie">
        <span class="fa fa-lg fa-times-circle"></span>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="list-friend-template">
  <div class="row list-person-row">
    <div class="col-sm-2">
      <a data-bind="attr:{ href: fb_profile_url }" target="_blank"><img class="list-person-image" data-bind="attr: {src: profile_pic_url}" /></a>
    </div>
    <div class="col-sm-5 pointer">
      <h3 data-bind="text: name"></h3>
    </div>
    <div class="col-sm-5 c_score-container"><span data-bind="text: c_score() * 100"></span>% match</div>
    </div>
  </div>
</script>

<script type="text/html" id="cast-member-template">
  <div class="cast-member-container container">
    <span data-bind="text: name"></span><br/>
    <img data-bind="attr: {src: image_url}" /><br/>
  <div class="character-container" data-bind="text: character"></div>
</script>

<script type="text/javascript">
  $(function(){
    var vm = new MoviesViewModel();
    processLogin = vm.user().processLogin;
    ko.applyBindings(vm);
  });

function processLogin(){};

function logIn(){}
</script>

<% include privacyModal.ejs %>
