<div class="fluid-container main-content">
  <div class="left-panel">
    <!-- ko if: showingMovies -->
    <div class="row">
      <div class="col-sm-12 navbar-btn navbar-left">
        <div class="input-group">
          <input type="text" data-bind="value: searchQuery, valueUpdate: 'afterkeydown', event: {keypress: searchOnEnter }" placeholder="search by title" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" data-bind="click: search" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
    </div>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            year
        </h4>
      </div>
      <div id="years" class="panel">
        <div class="panel-body">
          <select multiple="false" data-bind="options: years, value: selectedYear, optionsCaption: 'any year'"></select>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            genre
        </h4>
      </div>
      <div id="genreContainer" class="panel">
        <div class="panel-body">
          <select data-bind="options: genres, optionsText: 'name', selectedOptions: selectedGenres, optionsCaption: 'any genre'" multiple="true"></select>
        </div>
      </div>
    </div>
  </div>
  <!-- /ko -->

  <!-- ko if: showingLists -->
  <div id="movieListNav">
    <ul data-bind="foreach: movieLists">
      <li>
        <button class="btn btn-default" data-bind="html: name() + '<div class=\'list-length\'> (' + movieIds().length + ')</div>', attr: {'list-id': id}, click: viewList"></button>
      </li>
    </ul>
  </div>
  <!-- /ko -->

  <!-- ko if: showingFriends -->
  <!-- /ko -->

  <footer class="pull-left">
    <hr>
    powered by the <a href="http://www.themoviedb.org">TMDb</a> API
    <br/>
    <div>&copy; Zeele Inc., 2014</div>
    <br/>
    <a data-bind="click: function(){ $('#privacyModal').modal(); }">Privacy Policy</a>
  </footer>
</div> <!-- left panel -->

  <div class="right-panel">
    <div class="movie-table-container" data-bind="visible: showingMovies, template: {name: 'movie-template', foreach: movies}, event: {scroll: scrolled}"></div>
    <div class="friend-list-container" data-bind="visible: showingFriends, template: {name: 'friend-template', foreach: friends}, event: {scroll: scrolledFriends}"></div>
    <div class="movie-list-content" data-bind="visible: showingLists, with: selectedList" >
      <div class="movie-list-header container" data-bind="visible: name()">
        <div class="row">
          <div class="col-sm-4">
            <span class="movie-list-title" data-bind="text: name() + ' (' + movies().length + ')'"></span>
          </div>
          <div class="col-sm-4">
            <h4>public: <input type="checkbox" data-bind="checked: isPublic" /></h4>
          </div>
          <div class="col-sm-4">
            <span class="fa fa-2x fa-facebook-square"></span>
            <span class="fa fa-2x fa-twitter-square"></span>
            <span class="fa fa-2x fa-reddit-square"></span>
          </div>
        </div>
      </div>
      <div class="movie-list-container" data-bind="template: {name: 'list-movie-template', foreach: movies}"></div>
    </div>
  </div>
</div>

<div id="movieDetailsModal" data-bind="with: movieDetails" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="movieDetailsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="movieDetailsLabel" data-bind="text: title"></h4>
      </div>
      <div class="modal-body movie-details">
        <!-- ko if: !loadingDetails() -->
        <div class="detail-image-container">
          <img data-bind="attr: {src: bigImageUrl}" />
        </div>
        <br/>
        <p data-bind="text: synopsis"></p>
        <ul>
          <li><span>Released <span data-bind="text: formattedReleaseDate"></span></span></li>
          <!-- ko if: currentUserRating -->
          <li><span>Your rating: <span data-bind="text: currentUserRating"></span></span></li>
          <!-- /ko -->
          <li><span data-bind="text: genresString"></li>
          <li><span data-bind="click: toggleCast, css: { 'fa-plus-square' : castHidden, 'fa-minus-square' : !castHidden() }" class="fa pointer"></span> Cast
          <!-- ko if: !castHidden() -->
            <div data-bind="template: { name: 'cast-member-template', foreach: castMembers }" class="container cast-container panel"><span class="fa fa-5x fa-spin fa-cog"></span></div>
          <!-- /ko -->
          </li>

        </ul>
        <a data-bind="attr: {href: amazonLink }" target="_blank"><img class="amazon-button-small" src="/img/amazon.png" alt="find on amazon" /></a><br/><br/>
        <a data-bind="attr: {href: imdbUrl }" target="_blank">IMDB info</a>
        <!-- /ko -->
        <!-- ko if: loadingDetails() -->
        <div class="container" style="width:100%;text-align:center"><span class="fa fa-5x fa-spin fa-cog"></span></div>
        <!-- /ko -->
      </div>
    </div>
  </div>
</div>

<div id="addToListModal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="addToListLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="addToListLabel" class="modal-title" data-bind="html: addToListModalTitle">Add to list</h4>
      </div>
      <div class="modal-body">
        <ul data-bind="foreach: movieLists">
          <li><button class="btn btn-default" data-bind="attr: {'list-id': id}, html: name() + '<div class=\'list-length\'> (' + movieIds().length + ')</div>', click: addToList"></li>
        </ul>
        <div class="input-group">
          <input type="text" data-bind="value: newListName" placeholder="new list" class="form-control" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" data-bind="click: addNewMovieList">add</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/html" id="movie-template">
  <div class="movie-container">
    <div class="movie-title-container" data-bind="click: showDetails">
      <h5 data-bind="text: title"></h5><div class="btn addToListButton" data-bind="click: showListPopover"><span class="glyphicon glyphicon-list"></span></div>
      <img data-bind="attr: {src: imageUrl}" />
    </div>
    <div class="star-rating-container" data-bind="template: {name: 'ratings-template'}"></div>
  </div>
</script>

<script type="text/html" id="ratings-template">
  <div class="pointer" data-bind="event: {'mouseout': resetRatingClasses }">
    <div class="star-rating fa-stack" data-bind="style: {opacity: tempRating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(1, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="1" data-bind="css: ratingClass(1)"></span>
    </div>
    <div class="star-rating fa-stack" data-bind="style: {opacity: tempRating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(2, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="2" data-bind="css: ratingClass(2)"></span>
    </div>
    <div class="star-rating fa-stack" data-bind="style: {opacity: tempRating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(3, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="3" data-bind="css: ratingClass(3)"></span>
    </div>
    <div class="star-rating fa-stack" data-bind="style: {opacity: tempRating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(4, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="4" data-bind="css: ratingClass(4)"></span>
    </div>
    <div class="star-rating fa-stack" data-bind="style: {opacity: tempRating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(5, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="5" data-bind="css: ratingClass(5)"></span>
    </div>
  </div>
</script>

<script type="text/html" id="friend-template">
  <div data-bind="text: name"></div>
</script>

<script type="text/html" id="list-movie-template">
  <div class="row list-movie-row">
    <div class="col-sm-1 pointer" data-bind="click: showDetails">
      <img class="list-movie-image" data-bind="attr: {src: imageUrl}" />
    </div>
    <div class="col-sm-3 pointer">
      <h4 data-bind="click: showDetails, text: titleAndYear"></h4>
      <a data-bind="attr: {href: amazonLink }" target="_blank">
        <img class="amazon-button-small amazon-list-item-button" src="/img/amazon.png" alt="find on amazon" />
      </a>
    </div>
    <div class="col-sm-4">your rating: <div data-bind="template: {name: 'ratings-template'}"></div></div>
    <div class="col-sm-4" style="text-align:right">
      <div class="delete-list-item-button pointer" data-bind="click: $parent.removeMovie">
        <span class="fa fa-lg fa-times-circle"></span>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="cast-member-template">
  <div class="cast-member-container container">
    <span data-bind="text: name"></span><br/>
    <img data-bind="attr: {src: imageUrl}" /><br/>
  <div class="character-container" data-bind="text: character"></div>
</script>

<script type="text/javascript">
  $(function(){
    var vm = new MoviesViewModel();
    vm.user().id("<%= req.session.user ? session.user.id : '' %>");
    vm.user().profilePicUrl("<%= profile_pic_url %>");
    vm.init();
    ko.applyBindings(vm);
  });
</script>

<% include privacyModal.ejs %>
