<div style="display: none" data-bind="visible: true">
<!-- ko if: is_showing_movies -->
<% include movies.ejs %>
<!-- /ko -->

<!-- ko if: is_showing_people -->
<% include people.ejs %>
<!-- /ko -->

<!-- ko if: is_showing_lists -->
<% include lists.ejs %>
<!-- /ko -->
</div>

<script type="text/html" id="review-row-template">
  <div class="list-review-row row">
    <div class="col-sm-2">
      <div class="reviewer-image-container"><img data-bind="attr: {src: reviewer_picture_url }" /></div>
      <div class="reviewer-name-container"><span data-bind="text: reviewer_name"></span></div>
    </div>
    <div class="col-sm-9">
      <div class="reviewer-rating-container">
        <div style="float:left"><span data-bind="text: reviewer_name"></span>s rating: </div>
        <div class="rating-star-container" data-bind="template: {name: 'average-rating-template'}"></div>
        <!-- ko if: is_owner -->
        <div class="delete-review-button">
          ( <a href="#" data-bind="click: $parent.deleteReview">delete review</span></a> )
        </div>
        <!-- /ko -->
      </div>

      <div class="movie-review-container">
        <div class="created-date" data-bind="text: created_date"></div>
        "<span data-bind="html: content" class="review-text"></span>"
      </div>
    </div>

    <div class="col-sm-1" style="margin-top:10px;">
      <div class="review-vote">
        <span class="fa fa-lg" data-bind="css: thumb_up_style, click: voteUp"></span>
      </div>
      <div class="fa fa-stack">
        <span class="fa fa-stack-2x fa-circle-thin"></span>
        <span class="fa fa-stack-1x review-score " data-bind="text: review_score"></span>
      </div>
      <div class="review-vote">
        <span class="fa fa-lg fa-flip-horizontal" data-bind="css: thumb_down_style, click: voteDown"></span>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="current-rating-template">
  <div class="pointer" data-bind="event: {'mouseout': resetRatingClasses }">
    <div class="star-rating fa-stack" data-bind="style: {opacity: temp_rating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(1, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="1" data-bind="css: ratingClass(1)"></span>
    </div>
    <div class="star-rating fa-stack" data-bind="style: {opacity: temp_rating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(2, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="2" data-bind="css: ratingClass(2)"></span>
    </div>
    <div class="star-rating fa-stack" data-bind="style: {opacity: temp_rating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(3, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="3" data-bind="css: ratingClass(3)"></span>
    </div>
    <div class="star-rating fa-stack" data-bind="style: {opacity: temp_rating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(4, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="4" data-bind="css: ratingClass(4)"></span>
    </div>
    <div class="star-rating fa-stack" data-bind="style: {opacity: temp_rating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(5, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="5" data-bind="css: ratingClass(5)"></span>
    </div>
  </div>
</script>

<script type="text/html" id="average-rating-template">
    <span class="fa" data-bind="css: average_star_css(2)"></span>
    <span class="fa" data-bind="css: average_star_css(4)"></span>
    <span class="fa" data-bind="css: average_star_css(6)"></span>
    <span class="fa" data-bind="css: average_star_css(8)"></span>
    <span class="fa" data-bind="css: average_star_css(10)"></span>
</script>

<script type="text/html" id="list-friend-template">
  <div class="row list-person-row">
    <div class="col-sm-2">
      <a data-bind="attr:{ href: fb_profile_url }" target="_blank"><img class="list-person-image" data-bind="attr: {src: profile_pic_url}" /></a>
    </div>
    <div class="col-sm-5 pointer">
      <h4 data-bind="text: name"></h4>
    </div>
      <!-- ko if: match_score() > 0 -->
      <div class="progress match-progress">
        <div class="progress-bar progress-bar-success" role="progressbar" data-bind="attr:{ 'area-valuenow': match_score() * 100 }, style: {width: (match_score() * 100) + '%'}" aria-valuemin="0" aria-valuemax="100">
          <span data-bind="text: (match_score() * 100) + '% match'"></span>
        </div>
      </div>
      <!-- /ko -->
      <!-- ko if: match_score() <= 0 -->
        <div class="too-few"><span data-toggle="tooltip" data-placement="bottom" title="Too few rated movies in common">(Match Score Unknown)</span></div>
      <!-- /ko -->
    </div>
  </div>
</script>

<script type="text/html" id="cast-member-template">
  <div class="cast-member-container container">
    <span data-bind="text: name"></span><br/>
    <img data-bind="attr: {src: image_url($root) }" /><br/>
  <div class="character-container" data-bind="text: character"></div>
</script>

<script type="text/html" id="list-movie-template">
  <div class="row list-movie-row">
    <div class="col-sm-1 pointer" data-bind="click: $root.showDetails">
      <img class="list-movie-image" data-bind="attr: {src: image_url($root) }" />
    </div>
    <div class="col-sm-4 pointer">
      <h4 data-bind="click: $root.showDetails, text: title_and_year"></h4>
    </div>
    <div class="col-sm-3">your rating: <div data-bind="template: {name: 'current-rating-template'}"></div></div>
    <div class="col-sm-4" style="text-align:right">
      <a data-bind="attr: {href: amazon_link }" target="_blank">
        <img class="amazon-button-small amazon-list-item-button" src="/img/amazon.png" alt="find on amazon" />
      </a>
      <div class="delete-list-item-button pointer" data-bind="click: $parent.removeMovie">
        <span class="fa fa-lg fa-times-circle"></span>
      </div>
    </div>
  </div>
</script>

<script type="text/javascript">
  $(function(){
    var vm = new FilmsieViewModel();
    processLogin = vm.processLogin;
    ko.applyBindings(vm);

    var callbacks = $.Callbacks();
  });

function processLogin(){};

</script>

<div id="reviewsModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="reviewsModalLabel" aria-hidden="true" data-bind="with: $root.selected_movie">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="reviewsModalLabel" class="modal-title" data-bind="text: reviewsModalTitle">Movie Reviews</h4>
      </div>
      <div class="modal-body">
        <!-- ko if: !current_user_has_reviewed() && current_user().authenticated() -->
        <textarea data-bind="value: new_review_text" placeholder="write a review..."></textarea>
        <button class="btn btn-default" data-bind="click: saveReview">submit</button>
        <hr/>
        <!-- /ko  -->

        <!-- ko if: !current_user().authenticated() -->
        <div class="sign-in-message-container"><h4><a href="#" data-bind="click: $parent.login">Sign in</a> to post a review</h4></div>
        <!-- /ko -->

        <div data-bind="template: {name: 'review-row-template', foreach: reviews}"></div>
      </div>
    </div>
  </div>
</div>

<% include addToList.ejs %>

<% include userProfile.ejs %>

<% include feedback.ejs %>

<% include privacyModal.ejs %>

<% include movieDetails.ejs %>
