<div class="fluid-container main-content">
  <div class="left-panel">
    <div class="row">
      <div class="col-sm-12 navbar-btn navbar-left">
        <div class="input-group">
          <input type="text" data-bind="value: searchQuery, valueUpdate: 'afterkeydown', event: {keypress: searchOnEnter }" placeholder="search by title" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" data-bind="click: search" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
    </div>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            year
        </h4>
      </div>
      <div id="years" class="panel">
        <div class="panel-body">
          <select multiple="false" data-bind="options: years, value: selectedYear, optionsCaption: 'any year'"></select>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
            genre
        </h4>
      </div>
      <div id="genreContainer" class="panel">
        <div class="panel-body">
          <select data-bind="attr: {'multiple': hasSelectedYear}, options: genres, optionsText: 'name', selectedOptions: selectedGenres, optionsCaption: 'any genre'"></select>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer pull-right">
    <hr>
    powered by the <a href="http://www.themoviedb.org">TMDb</a> API
    <br/>
    <div>Copyright Zeele Inc., 2014</div>
  </footer>
</div> <!-- left panel -->

  <div class="right-panel">
    <div class="movie-table-container" data-bind="template: {name: 'movie-template', foreach: movies}, event: {scroll: scrolled}"></div>
    <!-- <div class="friend-list-container" style="display:none" data-bind="with: template: {name: 'friend-template', foreach: friends}, event: {scroll: scrolled-friends}"></div> -->
  </div>
</div>

<div id="movieDetailsModal" data-bind="with: movieDetails" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="movieDetailsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel" data-bind="text: title"></h4>
      </div>
      <div class="modal-body movie-details">
        <!-- ko if: !loadingDetails() -->
        <div class="detail-image-container">
          <img data-bind="attr: {src: bigImageUrl}" />
        </div>
        <br/>
        <p data-bind="text: synopsis"></p>
        <ul>
          <li><span>Released <span data-bind="text: releaseDate"></span></span></li>
          <!-- ko if: currentUserRating -->
          <li><span>Your rating: <span data-bind="text: currentUserRating"></span></span></li>
          <!-- /ko -->
          <li><span data-bind="text: genresString"></li>
          <li><span data-bind="click: toggleCast, css: { 'glyphicon-plus' : castHidden, 'glyphicon-minus' : !castHidden() }" class="glyphicon pointer"></span> Cast
          <!-- ko if: !castHidden() -->
            <div data-bind="template: { name: 'cast-member-template', foreach: castMembers }" class="container cast-container panel"><img src="/img/ajax-loading.gif" alt="loading" /></div>
          <!-- /ko -->
          </li>

        </ul>
        <a data-bind="attr: {href: amazonLink }" target="_blank">Find on Amazon</a><br/>
        <a data-bind="attr: {href: imdbUrl }" target="_blank">IMDB info</a>
        <!-- /ko -->
        <!-- ko if: loadingDetails() -->
        <div class="container" style="width:100%;text-align:center"><img src="/img/ajax-loading.gif" alt="loading" /></div>
        <!-- /ko -->
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="movie-template">
  <div class="movie-container">
    <div class="movie-title-container" data-bind="click: showDetails">
      <h5 data-bind="text: title"></h5>
      <!-- ko if: imageUrl -->
      <img data-bind="attr: {src: imageUrl}" />
      <!-- /ko -->
      <!-- ko if: !imageUrl() -->
      <br/><br/>
      <span>(no image)</span>
      <!-- /ko -->
    </div>
    <div class="rating-container">
      <div class="rating-box" data-bind="css: ratingClass(1), click: function(){setRating(1)}">1</div>
      <div class="rating-box" data-bind="css: ratingClass(2), click: function(){setRating(2)}">2</div>
      <div class="rating-box" data-bind="css: ratingClass(3), click: function(){setRating(3)}">3</div>
      <div class="rating-box" data-bind="css: ratingClass(4), click: function(){setRating(4)}">4</div>
      <div class="rating-box" data-bind="css: ratingClass(5), click: function(){setRating(5)}">5</div>
      <div class="rating-box" data-bind="css: ratingClass(6), click: function(){setRating(6)}">6</div>
      <div class="rating-box" data-bind="css: ratingClass(7), click: function(){setRating(7)}">7</div>
      <div class="rating-box" data-bind="css: ratingClass(8), click: function(){setRating(8)}">8</div>
      <div class="rating-box" data-bind="css: ratingClass(9), click: function(){setRating(9)}">9</div>
      <div class="rating-box" data-bind="css: ratingClass(10), click: function(){setRating(10)}">10</div>
    </div>
</div>
</script>

<script type="text/html" id="cast-member-template">
  <div class="cast-member-container container">
    <span data-bind="text: name"></span><br/>
    <img data-bind="attr: {src: imageUrl}" /><br/>
  <div class="character-container" data-bind="text: character"></div>
</script>

<script type="text/javascript">
  $(function(){
    var vm = new MoviesViewModel();
    vm.init();
    ko.applyBindings(vm);
  });
</script>
