
<div class="container movie-table-container">
<table class="table table-no-border">
  <% _.each(items, function(item, i) {
      if (i % 5 == 0) {
        if (i != 0) { %>
        </tr>
        <% } %>
        <tr>
      <% } %>
    <td>
      <div class="movie-container">
        <div class="movie-title-container">
          <h5><%= item.title %></h5>
          <img src='<%= item.posters.original %>'/>
        </div>
        <div class="rating-container">
          <div class="rating-box">1</div>
          <div class="rating-box">2</div>
          <div class="rating-box">3</div>
          <div class="rating-box">4</div>
          <div class="rating-box">5</div>
          <div class="rating-box">6</div>
          <div class="rating-box">7</div>
          <div class="rating-box">8</div>
          <div class="rating-box">9</div>
          <div class="rating-box">10</div>
        </div>
    </div>
    </td>
    <% }) %>
  </tr>
</table>
</div>

<script type="text/javascript">
  function MovieViewModel() {
    var self = this;
    self.id = ko.observable();
    self.externalId = ko.observable();
    self.currentUserRating = ko.observable();
    self.title = ko.observable();
    self.imageUrl = ko.observable();

  }

  function MoviesViewModel() {
    var self = this;
    self.totalResults = ko.observable(0);
    self.movies = ko.observableArray([]);
    self.searchParameters = ko.observable();

    self.getMovies = function(){
      $.ajax({
        type: "POST",
        url: "/movie/search",
        success: function(data){
          console.dir(data);
        }
      });
    }
  }

  function searchParametersViewModel() {
    var self = this;
    var years = ko.observableArray([]);
  }

  $(function(){
    var vm = new MoviesViewModel();
    ko.applyBindings(vm);
    vm.getMovies();
  });
</script>
