<!-- ko with: movie_lists -->
<div class="container-fluid main-content">
  <div class="left-panel col-md-2">
    <div class="section-nav">
      <ul class="row" data-bind="foreach: movie_lists">
        <li>
          <a class="btn btn-default" data-bind="css: {'active': $parent.selected_list() && $parent.selected_list().id() == id() }, html: name_and_length(), attr: {'href': '#lists/' + id() }"></a>
        </li>
      </ul>
    </div>
    <% include footer.ejs %>
  </div>

  <div class="right-panel col-md-10">
    <div class="movie-list-content" data-bind="with: selected_list" >
      <div class="movie-list-header container" data-bind="visible: id()">
        <div class="row" data-bind="visible: is_public() || is_owner()">
          <div class="col-sm-6">
            <span class="movie-list-title" data-bind="html: name"></span>
          </div>
          <div class="col-sm-2">
            <!-- ko if: is_owner() -->
            <h4>public: <input type="checkbox" data-bind="checked: is_public" /></h4>
            <!-- /ko -->
          </div>
          <div class="col-sm-2 sm-links">
            <div class="social-button"><span class="fa fa-2x fa-facebook-square" data-bind="click: $parent.shareOnFacebook"></span></div>
            <div class="social-button"><a data-bind="attr: {href: twitterLink }" target="_blank"><span class="fa fa-2x fa-twitter-square"></span></a></div>
            <div class="social-button"><span class="fa fa-2x fa-reddit-square"></span></div>
          </div>
          <div class="col-sm-2" style="text-align:left">
            <div class="delete-list-button pointer" data-bind="click: $parent.deleteList">
              <span class="fa fa-2x fa-times-circle"></span>
            </div>
          </div>
        </div>
      </div>
      <!-- ko if: is_public() || is_owner() -->
      <div class="movie-list-container" data-bind="template: {name: 'list-movie-template', foreach: movies}"></div>
      <!-- /ko -->
      <div class="row" data-bind="visible: !is_public() && !is_owner() && name()">
        <div class="container col-sm-12">
          <div style="width:100%;text-align:center"><h3>This list is private.</h3></div>
        </div>
      </div>
      <div class="row" data-bind="visible: $parent.movie_lists().length == 0 && !$parent.getting_lists()">
        <div class="container col-sm-12">
          <div style="width:100%;text-align:center"><h3>You haven't created any lists yet.</h3></div>
        </div>
      </div>
    </div>
  </div> <!-- right panel -->
</div> <!-- main content -->

<!-- /ko -->
