<div id="movie_details_modal" data-bind="with: movie_details" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="movie_details_label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="movie_details_label" data-bind="text: title"></h4>
      </div>
      <div class="modal-body movie-details">
        <!-- ko if: !is_loading_details() -->
        <div class="detail-image-container">
          <img data-bind="attr: {src: big_image_url($root)}" />
        </div>
        <br/>
        <p data-bind="text: synopsis"></p>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-4 details-label">Released: </div><div class="col-xs-8" data-bind="text: formatted_release_date"></div>
          </div>
          <!-- ko if: total_ratings() > 0 -->
          <div class="row">
            <div class="col-xs-4 details-label">Average rating: </div><div class="col-xs-8"><div class="average-rating-container" data-bind="template: {name: 'average-rating-template'}"></div><div data-bind="text: '('+ total_ratings() + ' ratings)'"></div></div>
          </div>
          <!-- /ko -->
          <div class="row">
            <div class="col-xs-4 details-label">Your rating: </div><div class="col-xs-8"><div class="star-rating-container" data-bind="template: {name: 'current-rating-template'}"></div></div>
          </div>
          <div class="row">
            <div class="col-xs-4 details-label">Genres: </div><div class="col-xs-8" data-bind="text: genresString"></div>
          </div>
          <div class="row">
            <div class="col-xs-4 details-label"><div data-bind="click: toggleCast, css: { 'fa-minus-square' : !cast_is_hidden() }" class="fa fa-plus-square pointer"></div></div><div class="col-xs-8">Cast</div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="container" style="width:100%;text-align:center">
                <div data-bind="template: { name: 'cast-member-template', foreach: cast_members }" class="container cast-container panel collapse"></div>
              </div>
              <!-- ko if: is_loading_cast() -->
              <div class="container" style="width:100%;text-align:center"><span class="fa fa-3x fa-spin fa-cog"></span></div>
              <!-- /ko -->
            </div>
          </div>
        </div>
        <div class="container" style="text-align:center;width:100%">
          <a data-bind="attr: {href: imdb_url }" target="_blank">IMDB info</a>
        </div>
        <!-- /ko -->

        <!-- ko if: is_loading_details() -->
        <div class="container" style="width:100%;text-align:center"><span class="fa fa-5x fa-spin fa-cog"></span></div>
        <!-- /ko -->
      </div>
    </div>
  </div>
</div>
