<script type="text/html" id="current-rating-template">
  <div class="pointer" data-bind="event: {'mouseout': resetRatingClasses }">
    <div class="star-rating fa-stack" data-bind="style: {opacity: temp_rating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(1, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="1" data-bind="css: ratingClass(1)"></span>
    </div>
    <div class="star-rating fa-stack" data-bind="style: {opacity: temp_rating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(2, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="2" data-bind="css: ratingClass(2)"></span>
    </div>
    <div class="star-rating fa-stack" data-bind="style: {opacity: temp_rating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(3, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="3" data-bind="css: ratingClass(3)"></span>
    </div>
    <div class="star-rating fa-stack" data-bind="style: {opacity: temp_rating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(4, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="4" data-bind="css: ratingClass(4)"></span>
    </div>
    <div class="star-rating fa-stack" data-bind="style: {opacity: temp_rating() ? '1' : '.5'}, event: {'mousemove': updateRatingClass }, click: function(vm, event){setRating(5, event)}">
      <span class="fa fa-stack-2x fa-star-o"></span>
      <span class="fa fa-stack-2x top-star-stack" star="5" data-bind="css: ratingClass(5)"></span>
    </div>
  </div>
</script>

<script type="text/html" id="average-rating-template">
    <span class="fa" data-bind="css: average_star_css(2)"></span>
    <span class="fa" data-bind="css: average_star_css(4)"></span>
    <span class="fa" data-bind="css: average_star_css(6)"></span>
    <span class="fa" data-bind="css: average_star_css(8)"></span>
    <span class="fa" data-bind="css: average_star_css(10)"></span>
</script>
