<!-- ko with: movies -->
<div class="container-fluid main-content">
  <div class="main-panel col-xs-12">

    <div class="menu-panel" data-bind="css: {'to-left': !$root.left_menu_is_open() }">
      <div class='left-menu-button' data-bind="click: $root.toggle_left_menu, style: {'padding-top': $root.left_menu_button_top_padding }"><span class="fa fa-2x" data-bind="css: $root.left_menu_class"></span></div>
      <div class="section-nav movies-nav">
        <ul class="row">
          <li><a class="btn filmsie-btn browse-btn" href="#movies/browse" data-bind="css: {'active': which_movies() == 'browse' }, click: $root.closeMenu">Browse</a></li>
          <!-- ko if: current_user().authenticated() -->
          <li><a class="btn filmsie-btn recommend-btn" href="#movies/recommended" data-bind="css: {'active': which_movies() == 'recommended' }, click: $root.closeMenu">Recommended For You</a></li>
          <!-- /ko -->
          <li>
            <a class="btn filmsie-btn search-btn" href="#movies/search" data-bind="css: {'active': which_movies() == 'search' }">Search</a>
            <div class="row search-row" data-bind="css: { 'hide-behind': which_movies() != 'search'}">
              <div class="panel expand-panel">
                <div id="searchOptions" class="panel-collapse collapse" data-bind="css: {in: which_movies() == 'search'}">
                  <div class="panel-body">
                    <div class="input-group">
                      <input type="text" data-bind="value: search_query, valueUpdate: 'afterkeydown', event: {keypress: function(data, event) { searchOnEnter($root, data, event); return true; }}" placeholder="search by title" class="form-control">
                      <span class="input-group-btn">
                        <button class="btn do-search-btn" data-bind="click: searchButtonSearch($root)" type="button"><span class="fa fa-search"></span></button>
                      </span>
                    </div><br/>
                    <div class="panel">
                      <div class="panel-heading">
                        <span class="panel-title">
                            year
                        </span>
                      </div>
                      <div id="yearList" class="panel">
                        <div class="panel-body">
                          <select multiple="false" data-bind="options: years, value: selected_year, optionsCaption: 'any year'"></select>
                        </div>
                      </div>
                    </div>
                    <div class="panel">
                      <div class="panel-heading">
                        <span class="panel-title">
                            genre
                        </span>
                      </div>
                      <div id="genreList" class="panel">
                        <div class="panel-body">
                          <select data-bind="options: genres, optionsText: 'name', selectedOptions: selected_genres, optionsCaption: 'any genre'" multiple="true"></select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clear-button-container">
                    <button class="btn btn-warn" data-bind="click: clearSearch">clear</button>
                  </div>
                </div>
            </div> <!-- search options panel -->
          </div>
          </li>
        </ul>

      </div> <!-- section nav -->
      <br/><br/>
      <iframe src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetAdHtml&ID=OneJS&OneJS=1&banner_type=setandforget&campaigns=primeent&placement=assoc_banner_placement_default&region=US&marketplace=amazon&tracking_id=filmsie03-20&ad_type=banner&height=125&width=125&linkid=3FHUXVSIIZFKADJ3&f=ifr" width="125" height="125" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
      <% include footer.ejs %>

    </div> <!-- menu panel -->

    <div class="movie-table-header">
      <div class="search-title-container container-fluid">
        <div class="movie-list-label col-xs-9" data-bind="text: search_title"></div>
        <div class="movie-count col-xs-3" data-bind="text: movie_count_text"></div>
      </div>
    </div>
    <div class="movie-table-container" data-bind="template: {name: 'movie-template', foreach: movies}, event: {scroll: scrolled}, style: {height: $root.movie_table_container_height}"></div>
    <!--
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <div class="container">
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-3032974844755662"
         data-ad-slot="8397226833"></ins>
    </div>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    -->
    <div class="mobile-ad-container">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- mobile optimized ad -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:320px;height:50px"
         data-ad-client="ca-pub-3032974844755662"
         data-ad-slot="1284259236"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
  </div> <!-- /main panel -->
</div>

<% include movieRatings.ejs %>

<!-- /ko -->

<% include movieCardTemplate.ejs %>
