<!-- ko with: people -->
<div class="container-fluid main-content">
  <div class="main-panel col-xs-12">
    <div class="menu-panel" data-bind="css: {'to-left': !$root.left_menu_is_open() }">
      <div class='left-menu-button' data-bind="click: $root.toggle_left_menu, style: {'padding-top': $root.left_menu_button_top_padding }"><span class="fa fa-2x" data-bind="css: $root.left_menu_class"></span></div>
      <div class="section-nav">
        <ul class="row">
          <li>
            <div class="row">
              <a class="btn" data-bind="css: {'active': which_people() == 'friends' }" href="#people/friends">My friends</a>
            </div>
            <div class="row friends-row hide-behind">
              <div class="expand-panel">
                <div id="peopleFriends" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul data-bind="foreach: friends">
                      <li data-bind="template: {name: 'people-menu-item' }"></li>
                    </ul>
                  </div>
                </div> <!-- /friend list panel -->
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <a class="btn" data-bind="css: {'active': which_people() == 'matches' }" href="#people/matches">My Matches</a>
            </div>
            <div class="row matches-row hide-behind">
              <div class="expand-panel">
                <div id="peopleMatches" class="panel-collapse collapse">
                  <div class="panel-body">
                    <ul data-bind="foreach: matches">
                      <li data-bind="template: {name: 'people-menu-item' }"></li>
                    </ul>
                  </div>
                </div> <!-- /match list panel -->
              </div>
            </div>
          </li>
        </ul>
      </div> <!-- section nav -->
      <br/><br/>
      <iframe src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetAdHtml&ID=OneJS&OneJS=1&banner_type=setandforget&campaigns=primeent&placement=assoc_banner_placement_default&region=US&marketplace=amazon&tracking_id=filmsie03-20&ad_type=banner&height=125&width=125&linkid=3FHUXVSIIZFKADJ3&f=ifr" width="125" height="125" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
      <% include footer.ejs %>
    </div> <!-- menu panel -->

    <div class="people-container" data-bind="style: {height: $root.people_container_height}">
      <!-- ko if: showing_user_profile() && !loading_profile() -->
        <div data-bind="template: { name: 'person-profile-template', data: viewing_profile_for }"></div>
      <!-- /ko -->
      <!-- ko if: loading_profile -->
        <div class="container" style="width:100%;text-align:center;margin-top:150px"><span class="fa fa-5x fa-spin fa-cog"></span></div>
      <!-- /ko -->
    </div>

    <div class="ad-container">

      <!-- below movie container -->
      <ins class="adsbygoogle web-ad"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-3032974844755662"
           data-ad-slot="8397226833"></ins>

      <ins class="adsbygoogle mobile-ad"
           style="display:none;width:320px;height:50px"
           data-ad-client="ca-pub-3032974844755662"
           data-ad-slot="1284259236"></ins>

    </div>

  </div> <!-- main panel -->
</div> <!-- main content -->

<script type="text/html" id="people-menu-item">
  <a data-bind="attr: {href: '/#people/profile/' + id()}, click: $root.closeMenu">
  <!-- <div class="person-menu-item container-fluid" data-bind="click: $parent.viewUserProfile"> -->
    <div class="person-menu-item container-fluid">
    <div class="pic-name-row row">
      <div class="col-xs-2">
        <img data-bind="attr: {src: profile_pic_url_small}" />
      </div>
      <div class="col-xs-10">
        <span class="list-person-name" data-bind="text: name"></span>
        <!-- ko if: match_score() -->
        <div class="progress match-menu-progress">
          <div class="progress-bar" role="progressbar" data-bind="attr:{ 'area-valuenow': match_percent }, style: {width: match_percent() + '%'}" aria-valuemin="0" aria-valuemax="100">
            <!-- <span data-bind="text: match_percent() + '% match'"></span> -->
          </div>
        </div>
        <!-- /ko -->
      </div>
    </div>
  </div>
  </a>
</script>

<% include personProfile.ejs %>

<!-- /ko -->
