<!-- ko with: people -->
<div class="container-fluid main-content">
  <div class="left-panel col-md-2">
    <div class="section-nav">
      <ul class="row">
        <li>
          <a class="btn btn-default" data-bind="css: {'active': which_people() == 'matches' }" href="#people/matches">My Matches</a>
          <div class="row matches-row hide-behind">
            <div class="expand-panel">
              <div id="peopleMatches" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul data-bind="foreach: matches">
                    <li data-bind="template: {name: 'people-menu-item' }"></li>
                  </ul>
                </div>
              </div> <!-- /match list panel -->
            </div>
          </div>
        </li>
        <li>
          <a class="btn btn-default" data-bind="css: {'active': which_people() == 'friends' }" href="#people/friends">My friends</a>
          <div class="row friends-row hide-behind">
            <div class="expand-panel">
              <div id="peopleFriends" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul data-bind="foreach: friends">
                    <li data-bind="template: {name: 'people-menu-item' }"></li>
                  </ul>
                </div>
              </div> <!-- /friend list panel -->
            </div>
          </div>
        </li>
        <li><a class="btn btn-default" href="#people/invite">Invite Friends</a></li>
      </ul>
    </div> <!-- section nav -->
    <% include footer.ejs %>
  </div> <!-- left panel -->

  <div class="right-panel col-md-10">
    <div class="people-container">
      <!-- ko if: showing_user_profile() && !loading_profile() -->
        <div data-bind="template: { name: 'person-profile-template', data: viewing_profile_for }"></div>
      <!-- /ko -->
      <!-- ko if: loading_profile -->
        <div class="container" style="width:100%;text-align:center;margin-top:150px"><span class="fa fa-5x fa-spin fa-cog"></span></div>
      <!-- /ko -->
    </div>
  </div> <!-- right panel -->
</div> <!-- main content -->

<script type="text/html" id="people-menu-item">
  <div class="person-menu-item container-fluid" data-bind="click: $parent.viewUserProfile">
    <div class="pic-name-row row">
      <div class="col-xs-2">
        <img data-bind="attr: {src: profile_pic_url_small}" />
      </div>
      <div class="col-xs-10">
        <span class="list-person-name" data-bind="text: name"></span>
        <div class="progress match-menu-progress">
          <div class="progress-bar progress-bar-success" role="progressbar" data-bind="attr:{ 'area-valuenow': match_percent }, style: {width: match_percent() + '%'}" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<% include personProfile.ejs %>

<!-- /ko -->
