<script type="text/html" id="person-profile-template">
  <div class="container-fluid person-profile-container">
    <div class="row">
      <div class="col-md-3">
        <img class="person-profile-image" data-bind="attr: {src: profile_pic_url}" />
        <h3 class="person-profile-name" data-bind="text:name"></h3>
      </div>
      <div class="col-md-9">
        <ul class="person-details">
          <li>Member for <span data-bind="text: member_time"></span></li><br/>
          <li>Movies Rated: <span data-bind="text: rating_count"></span></li><br/>
          <li>Reviews Written: <span data-bind="text: review_count"></span></li><br/>
        </ul>
        <!-- ko if: match_score() > 0 -->
        <div class="progress match-progress">
          <div class="progress-bar progress-bar-success" role="progressbar" data-bind="attr:{ 'area-valuenow': match_score() * 100 }, style: {width: (match_score() * 100) + '%'}" aria-valuemin="0" aria-valuemax="100">
            <span data-bind="text: (match_score() * 100) + '% match'"></span>
          </div>
        </div>
        <!-- /ko -->
        <!-- ko if: match_score() <= 0 -->
          <div class="too-few"><span data-toggle="tooltip" data-placement="bottom" title="Too few rated movies in common">(Match Score Unknown)</span></div>
        <!-- /ko -->
      </div>
    </div> <!-- row -->
    <div class="row person-activity-row">
      <div class="container person-activity-container">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#favorites" data-toggle="pill">Favorite movies</a></li>
          <li><a href="#least_favorites" data-toggle="pill">Least Favorite movies</a></li>
          <li><a href="#reviews" data-toggle="pill">Reviews</a></li>
        </ul>
        <div class="tab-content col-md-10">
          <div class="tab-pane active" id="favorites">
            <div data-bind="template: {name: 'favorite-movie-template', foreach: $parent.favorite_movies}"></div>
          </div>
          <div class="tab-pane" id="least_favorites">
            <div data-bind="template: {name: 'favorite-movie-template', foreach: $parent.least_favorite_movies}"></div>
          </div>
          <div class="tab-pane" id="reviews">
            <div data-bind="template: {name: 'person-review-template', foreach: $parent.reviews}"></div>
          </div>
        </div><!-- tab content -->
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="person-review-template">
  <div class="list-review-row row">
    <div class="col-sm-2">
      <div class="movie-details-container">
        <img class="list-movie-image" data-bind="attr:{ src: movie_image_url($root) }" />
        <div class="person-review-movie-title">
          <span data-bind="text: movie_title"></span>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="reviewer-rating-container">
        <div style="float:left"><span data-bind="text: reviewer_name"></span>s rating: </div>
        <div class="rating-star-container" data-bind="template: {name: 'average-rating-template'}"></div>
      </div>

      <div class="movie-review-container">
        <div class="created-date" data-bind="text: created_date"></div>
        "<span data-bind="html: content" class="review-text"></span>"
      </div>
    </div>

    <div class="col-sm-1" style="margin-top:10px;">
      <div class="review-vote">
        <span class="fa fa-lg" data-bind="css: thumb_up_style, click: voteUp"></span>
      </div>
      <div class="fa fa-stack">
        <span class="fa fa-stack-2x fa-circle-thin"></span>
        <span class="fa fa-stack-1x review-score " data-bind="text: review_score"></span>
      </div>
      <div class="review-vote">
        <span class="fa fa-lg fa-flip-horizontal" data-bind="css: thumb_down_style, click: voteDown"></span>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="favorite-movie-template">
  <div class="row list-movie-row">
    <div class="col-sm-1 pointer" data-bind="click: $parents[2].showDetails">
      <img class="list-movie-image" data-bind="attr: {src: image_url($root) }" />
    </div>
    <div class="col-sm-5 pointer">
      <h4 data-bind="click: $parents[2].showDetails, text: title_and_year"></h4>
      <a data-bind="attr: {href: amazon_link }" target="_blank">
        <img class="amazon-button-small amazon-list-item-button" src="/img/amazon.png" alt="find on amazon" />
      </a>
    </div>
    <div class="col-sm-3"><span data-bind="text: $parent.first_name() + '\'s'"></span> rating: <div data-bind="template: {name: 'user-rating-template'}"></div></div>
    <div class="col-sm-3" style="text-align:right">
    <div class="add-to-list-button-container" data-bind="click: $root.showAddToListModal" data-toggle="tooltip" data-placement="right" title="Add to List">
      <span class="fa fa-lg fa-list"></span>
    </div>
    <div class="show-reviews-button-container" data-bind="click: $root.showReviewsModal" data-toggle="tooltip" data-placement="right" title="Reviews">
      <span class="fa fa-stack">
        <span class="fa fa-stack-1x fa-lg fa-comments-o"></span>
        <strong class="fa fa-stack-1x review-count" data-bind="text: reviewCountText"></strong>
      </span>
    </div>
    </div>
  </div>
</script>

<script type="text/html" id="user-rating-template">
    <span class="fa" data-bind="css: user_star_css(2)"></span>
    <span class="fa" data-bind="css: user_star_css(4)"></span>
    <span class="fa" data-bind="css: user_star_css(6)"></span>
    <span class="fa" data-bind="css: user_star_css(8)"></span>
    <span class="fa" data-bind="css: user_star_css(10)"></span>
</script>
