<script type="text/html" id="person-profile-template">
  <div class="container-fluid person-profile-container">
    <div class="row">
      <div class="col-md-3">
        <img class="person-profile-image" data-bind="attr: {src: profile_pic_url}" />
        <h3 class="person-profile-name" data-bind="text:name"></h3>
      </div>
      <div class="col-md-9">
        <ul class="person-details">
          <li>Member for <span data-bind="text: member_time"></span></li><br/>
          <li>Movies Rated: <span data-bind="text: rating_count"></span></li><br/>
          <li>Reviews Written: <span data-bind="text: review_count"></span></li><br/>
        </ul>
        <!-- ko if: match_score() > 0 -->
        <div class="progress match-progress">
          <div class="progress-bar progress-bar-success" role="progressbar" data-bind="attr:{ 'area-valuenow': match_score() * 100 }, style: {width: (match_score() * 100) + '%'}" aria-valuemin="0" aria-valuemax="100">
            <span data-bind="text: (match_score() * 100) + '% match'"></span>
          </div>
        </div>
        <!-- /ko -->
        <!-- ko if: match_score() <= 0 -->
          <div class="too-few"><span data-toggle="tooltip" data-placement="bottom" title="Too few rated movies in common">(Match Score Unknown)</span></div>
        <!-- /ko -->
      </div>
    </div>
  </div>
</script>
